@import url('https://fonts.google.com/specimen/Share+Tech+Mono?query=tech');
html{ 
    height: 100%;
}
body{
    --bg-nav: #434f67;
    --bg-footer: rgba(0, 0, 0, 0.848);
    --bg-home: rgb(205, 208, 209);
    --btn-bg: #434f67;
    --btn-bo: rgba(0, 0, 0, 0.848);

    display: flex;  
    width: 100%;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
    background-color: var(--bg-home);
    min-height: 30vh;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  
}
.dark{
    --bg-nav:#17294c;
    --bg-footer: rgba(19, 19, 19, 0.848);
    --bg-home:  #434f67;
    --btn-bg: #17294cad;
    --btn-bo: #4d576c;
}


/* [NAV]BAR                  
        */
.navbar{
    display:flex;
    justify-content: space-between;
    background-position: 90% 100%;
    background-color: var(--bg-nav);
    padding: 0.5em;       
    align-items: center; 
    padding-bottom: 0;
    background: radial-gradient(circle at bottom,   #e8dede00 5% , var(--bg-nav)  );

}
.navbar.scrolled{
   opacity: 0.5;
   background: radial-gradient(circle, #e8dede45, var(--bg-nav)); 
}
div:not(.pc-MENU){
    display: flex;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
    min-height: 30vh;
    align-items:start;
    margin-left: 1em;
}
div.container{
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    padding: 0;
    margin: 0;
    align-content: flex-start;
    justify-content: center;

}
div.MENU-nav{
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: flex-end;


}
div.pc-MENU{
    display: flex;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
    align-items:start;

}
div.MENU{
    display: flex;
    flex-direction: row;
}
div.title{ margin:0; align-items:baseline;}
header a:not(.logo){
    color: #FFF;
    text-decoration: none;
    font-family: 'Share Tech Mono', monospace;
    font-size: calc(10px + 2vmin);
    margin-left: 0.5em;
    
}
.logo{
    margin: 5px 5px 5px 0;
    max-height: 30vh;

  }
span.title_one, span.title_two{
    font-size: 50px;
      background: linear-gradient(to bottom, chartreuse, aqua);
      background-clip: text; 
      color: transparent; /* Torna o texto transparente para que o gradiente seja visível */
      font-family: 'Share Tech Mono', monospace; 


}

header .title_one:hover {
    color:rgb(128, 234, 29);
}
header:has(.title_one:hover) .title_two {
    color: rgb(29, 220, 234);
}
header:has(.title_two:hover) .title_one {
    color:rgb(128, 234, 29);
}
header .title_two:hover {
    color: rgb(29, 220, 234);
}

.list:has(.a1:hover) .a2 { color: #f38cfb} 
.list:has(.a1:hover) .a3 { color: #f38cfb}
.list:has(.a2:hover) .a1 { color: #f38cfb} 
.list:has(.a2:hover) .a3 { color: #f38cfb}
.list:has(.a3:hover) .a1 { color: #f38cfb} 
.list:has(.a3:hover) .a2 { color: #f38cfb}

.list{
    display:flex;
    list-style:none;
    align-items:  center;
    padding: 0;
}

li{  
    
    margin-right:1em;
    list-style:none;
}
.btn-tog{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;  
    min-width: 50px;
    height: 3.5vh; 
    justify-self: flex-end;
    margin-right: 8px;
    color: #FFF;
    border: 2px solid var(--btn-bo); 
    font-family: 'Share Tech Mono', monospace;
    font-weight: normal;
    font-size: larger;
    border: 0.5px solid var(--btn-bg); 
    border-radius: 5px; 
    background-color: var(--btn-bg)  ;
    margin-top: 1vh;
    margin-bottom: 1vh;  
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5); 
    
}
header .btn-tog:active{
  background-color: chartreuse;
  transition: transform 2s;
}
header .btn{
    display: flex;


    width: 60px; 
    height: 30px; 
    border: 2px solid var(--btn-bo); 
    border-radius: 20px; 
    background-color: var(--btn-bg); 
    color: #ffffff; /* Cor do texto ou do ícone */
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
    margin-right: 8px;
    margin-top: 2em;

}
header .btn:hover{
    background-color:rgb(128, 234, 29) ;
    border: 2px solid rgb(128, 234, 29);
}


@media (min-width: 768px) and (max-width: 950px) {
    /* TABLET*/
    .title_one{font-size: 31px;}
    .title_two{font-size: 31px;}
    
  }

  @media (max-width: 767.9px) {
    /*SMARTPHONE*/
    .title_one{font-size: 35px;}
    .title_two{font-size: 35px;}
    div.title{min-height: 10vh;}

    div.MENU.d-md-none {
        min-height: 10vh;
        margin-bottom: 5vh;
        margin-left: 0;
        width: fit-content;
    }
    
    div#menu_colapse.collapse-horizontal.collapse.show {
        min-height: 10px;
        margin-left: 0;
        min-width: 60vw; 
    }
    
    div.card.card-body.MENUson {
        min-height: 10vh;
        margin-left: 0;
        min-width: 60vw;
        padding: 0;
    }
  }
/* MAIN 
        CONTENT */

.MENU{
    height: 10px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    }
.MENUson{
    display: flex;
    flex-direction: column;
    max-width: 120px;
    background-color: #434f67;
}
.menulist{
    display: flex;
    list-style:none;
    align-items:  center;
    padding: 0;
    flex-direction: row;
}
body a {
    color: #FFF;
    text-decoration: none;
    font-family: 'Share Tech Mono', monospace;
    font-size: calc(10px + 2vmin);
}

.jumbotron {
    display: flex;
    flex-direction: row;
    align-self: center;
    max-width: 100%;
    margin-left: 0;
    transition: transform 0.5s ease-in-out;
    background-color: rgba(0, 255, 255, 0);
    background: radial-gradient(circle closest-side at center,var(--bg-nav) 5%, #88ff0000); 

    transform: translateX(-200%);   
    padding: 0; 
    padding-top: 30vh;

}
.greet{
  max-width: 100vw;
  width: 80vw;
  height: fit-content;
  margin: 0;
}
#hello{
    transform: translateX(600%);
    transition: transform 1s ease-in-out; /* Adicionando uma transição suave */
    width: 14vw;
    height: auto;
    z-index: 2;

}
#jumbo{
    margin: 20px auto;
    max-height: 200vh;
    transition: transform 0.8s ease-in-out;
    position: relative;
    z-index: 1;
    width: 40vw;
    height: auto;
    margin: 0;
    min-width: 350px;

    
}
#jumbo:hover{
    content: url('utils/imgs/jumbotron.svg');

}
/* CONTACT US 
    */
    #form-containers{
      display: flex;
      flex-direction: column;
      margin-top: 2vh;
      align-content: center;

    }
    textarea {
        width: 20vw;
        background: linear-gradient(to bottom, #ffffff 20%, var(--bg-home));
        border: none;
        height: 10vh;
        min-width: 250px;

      }
      .content-head {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin: 2em 0 1em;
      }
      .is-center {
        text-align: center;
      }
      .button-success {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        background: radial-gradient(circle  at center,var(--bg-nav) 5%, #88ff0000); 
        margin-top: 1vh;
        margin-bottom: 1vh;        
      }
      .button-xlarge {
        font-size: 125%;
      }

      #name, #email {
        width: 50%;
      }
      .honeypot-field {
        display: none;
      }
      label{
        font-family: 'Share Tech Mono', monospace;
      }
      input{
        background: linear-gradient(to bottom, #ffffff 20%, var(--bg-home));
        border: none;
        min-width: 100px;
      }
      fieldset{
        display: flex;
        flex-direction: column;
      }
      #btnSend-text{
        width: 90px;
      }


/* FOOTER
         */

nav#footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-direction: column;
    height: 20vh;
    width: 100vw;
    background-color: var(--bg-footer);
    color: #fff;
    text-align: center;
    justify-self: center;
    padding: 0;
    position: relative;

}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    z-index: 2;
    position: relative;
    right: 55%;
    top: 35%
  }
  
.social_list li {
    margin: 0 1em;

}

.social_list li:hover {
    color:#434f67;
    transform: translateY(-1vh);
    transition: transform 1s;
}
  
.social_list img {
    width: 4vh;
    height: auto;
    cursor: pointer;
  }
  
.copy_right {
    margin: 0 0;
    position: relative;
    right: 53.5%;
    z-index: 2;
  }
  
.copy_right span {
    font-weight: bold;
    color: rgb(128, 234, 29);
    font-family: 'Share Tech Mono', monospace;
}

/* ANIMATIONS 
    */

    a.d-none.d-sm-none.d-md-block.logo:hover{
    transform: rotate(60deg);
    }

    .social_list li img:hover{
        width: 50px;
        height: auto;
        box-shadow: 3px 3px 0px rgba(213, 212, 212, 0.356)
    }
        
.copy_right span {
    font-weight: bold;
    color: rgb(128, 234, 29);
}

div#portfolio{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10vh;
  align-items: center;
}
div#double-gif{
  display: flex;
  flex-direction: row;
}
div.port-card{
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  margin-top: 5vh;
}

#gif1{
  max-width: 30vw;
  min-width: 200px;
  transform: translateX(30%);

}
#gif2{
  max-width: 30vw;
  transform: translateX(-20%);
  transform: translateY(-20%);
  min-width: 200px;
}

#products{
  position: relative;
  height: 35vh;
  width: auto;
  
}
.card-info {
  max-width: 20vw;
  min-width: 150px;
  margin-left: 1vw;
}

.hidden{
  display: none;
}

#cmatrixCanvas{
display: block;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;

}
